# .github/
# .vscode/
# .next/
# setup-scripts/

# README.md
# package-lock.json
# pnpm-lock.yaml
# next-env.d.ts

.github/
.vscode/
**/.next
**/node_modules
dist
build
coverage
setup-scripts/

README.md
package-lock.json
pnpm-lock.yaml
next-env.d.ts

**/node_modules/**
**/.next/**
**/dist/**
**/build/**
**/.turbo/**
**/coverage/**
**/*.tsbuildinfo
apps/local/rose-academies-uganda.db