@font-face {
  font-family: "Google Sans";
  src: url("/fonts/google-sans/GoogleSans-Variable.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font */
  --font-primary: "Google Sans", Arial, Helvetica, sans-serif;

  /* Font sizes */
  --font-h1: 44px;
  --font-h2: 36px;
  --font-h3: 32px;
  --font-h4: 24px;
  --font-h5: 20px;
  --font-h6: 16px;

  --font-subtitle-1: 18px;
  --font-subtitle-2: 14px;
  --font-subtitle-3: 12px;

  --font-body: 14px;
  --font-caption: 12px;

  /* Line heights */
  --lh-h1: normal;
  --lh-h2: normal;
  --lh-h3: 48px;
  --lh-h4: normal;
  --lh-h5: 25px;
  --lh-h6: normal;

  --lh-subtitle-1: normal;
  --lh-subtitle-2: normal;
  --lh-subtitle-3: normal;

  --lh-body: normal;
  --lh-caption: normal;

  /* Letter spacing */
  --ls-default: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  letter-spacing: var(--ls-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html {
  overflow-y: scroll;
}
